* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn-start {
    display: block;
    background-color: rgb(2, 43, 41);
    border-radius: 15px;
    margin: 2rem auto;
    padding: 1rem;
    color: white;
}

.container {
    width: 1000px;
    height: 1200px;
    border: 1px solid gray;
    margin: 1rem auto;
    background-image: url('../img/tree.jpg');
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: 
    "month1 month2 month3 month4"
    "month5 month6 month7 month8"
    "month9 month10 month11 month12"
    "month13 month14 month15 month16"
    "month17 month18 month19 month20"
    "month21 month22 month23 month24"
    ;
}

.image {
    background-image: none;
    background-size: cover;
    background-position: center;
}

.text {
    height: 100%;
    width: 100%;
    padding: 1rem;
    border: 2px solid grey;
    transition: opacity 3s;
}